In [31]:
# Import dependencies
import pandas as pd
from pathlib import Path

In [32]:
# Load the file
csv = Path('../Project 1 - Group 3/Resources/WHO-COVID-19-global-data.csv')

# Read data set
who_data = pd.read_csv(csv)

who_data.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [33]:
cleaned_who_data = who_data[['Date_reported', 'Country', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths']]

cleaned_who_data

,Date_reported,Country,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,Afghanistan,0,0,0
1,2020-01-04,Afghanistan,0,0,0
2,2020-01-05,Afghanistan,0,0,0
3,2020-01-06,Afghanistan,0,0,0
4,2020-01-07,Afghanistan,0,0,0
...,...,...,...,...,...
311650,2023-08-05,Zimbabwe,265693,0,5712
311651,2023-08-06,Zimbabwe,265693,0,5712
311652,2023-08-07,Zimbabwe,265693,0,5712
311653,2023-08-08,Zimbabwe,265693,0,5712
311654,2023-08-09,Zimbabwe,265693,0,5712

In [40]:
italy_who_data = cleaned_who_data[cleaned_who_data['Country']=='Italy']
italy_who_data.sum()

Date_reported        2020-01-032020-01-042020-01-052020-01-062020-0...
Country              ItalyItalyItalyItalyItalyItalyItalyItalyItalyI...
Cumulative_cases                                           14016229076
New_deaths                                                      191053
Cumulative_deaths                                            156876105
dtype: object

In [41]:
italy_who_data['Cumulative_cases'].sum()

14016229076

In [42]:
italy_who_data['Cumulative_deaths'].sum()

156876105

In [11]:
us_who_data = cleaned_who_data[cleaned_who_data['Country']=='United States of America']
us_who_data

,Date_reported,Country,Cumulative_cases,New_deaths,Cumulative_deaths
297190,2020-01-03,United States of America,0,0,0
297191,2020-01-04,United States of America,0,0,0
297192,2020-01-05,United States of America,0,0,0
297193,2020-01-06,United States of America,0,0,0
297194,2020-01-07,United States of America,0,0,0
...,...,...,...,...,...
298500,2023-08-05,United States of America,103436829,0,1127152
298501,2023-08-06,United States of America,103436829,0,1127152
298502,2023-08-07,United States of America,103436829,0,1127152
298503,2023-08-08,United States of America,103436829,0,1127152
298504,2023-08-09,United States of America,103436829,0,1127152

In [29]:
us_who_data_mean = us_who_data['Cumulative_cases'].sum()
us_who_data_mean

68840672660

In [30]:
us_who_data_deaths = us_who_data['Cumulative_deaths'].sum()
us_who_data_deaths

882624633

In [46]:
china_who_data = cleaned_who_data[cleaned_who_data['Country']=='China']
china_who_data.sum()

Date_reported        2020-01-032020-01-042020-01-052020-01-062020-0...
Country              ChinaChinaChinaChinaChinaChinaChinaChinaChinaC...
Cumulative_cases                                           24225052018
New_deaths                                                      121628
Cumulative_deaths                                             36392942
dtype: object

In [47]:
china_who_data['Cumulative_cases'].sum()

24225052018

In [48]:
china_who_data['Cumulative_deaths'].sum()

36392942